.author {
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 2;
    display: flex;

    .author__avatar {
        height: 50px;
        margin-right: 16px;
    }

    .author__info {
        font-family: 'Circe Bold';
        display: flex;
        flex-direction: column;
        justify-content: center;

        .author__name {
            font-size: 16px;
            color: #FFF;
        }

        .author__login {
            color: #ccc;
            font-size: 12px;
        }
    }
}